:root {

--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);

}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("Plus Jakarta Sans"),
   url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  }


body {

  background: var(--Very-light-grayish-blue);
  font-size: 15px;
  color: var(--Dark-grayish-blue);
  font-family: "Plus Jakarta Sans";
}

a, a:visited {
  font-weight: bold;
  color: var(--Blue);
  text-decoration: none;
}

p{
 margin:2.5px
}

.wrapper {

  display:flex;
  flex-direction: column;
  gap: 5px;
  background: var(--White);
  width: 300px;
  height: 100%vh;
  margin:auto;
  margin-top: 40px;
  padding: 2em;
  border-radius:10px;

}
@media screen and (min-width: 1000px){

  .wrapper {
    width: 600px;
  }
}
  

.notifcation-wrapper {

  
  background: var(--White);
  display:inline-flex;
  flex-wrap: nowrap;
  padding: 1.2em 1em 1.2em 1em;
  border-radius:4px;
  line-height: 1.2em;
  


}
.notifcation-wrapper.unread{
  background: var(--Very-light-grayish-blue)
}


img.picture {
  width: 40px;
  height: 40px;
  vertical-align: top;
  position:relative;
  left: 100px;
  
}

.wrapper-header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  
}
.wrapper-header-left {
  font-weight:800;
  font-size:18px;
  
}


.all-read:hover{
color: var(--Blue);

}

.name-wrapper{
  display:inline-block;
  width:100%;

}

.name{
  font-weight:800;
}
.name:hover{
  color: var(--Blue);
}

.date{
  color: var(--Grayish-blue);
}

.avatar{
  border-radius:50%;
  width:40px;
  height:40px;
  padding-right:10px;
}

.avatar-wrapper{
  display:inline;
}

.message{
  background: var(--White);
  border: 1px solid var(--Light-grayish-blue-2);
  padding: 1em;
  margin-top: 10px;
}
.message:hover{
  background: var(--Light-grayish-blue-2);
  padding: 1em;
}

.num-items{

  font-size:14px;
  color: var(--White);
  background-color: var(--Very-dark-blue);
  padding: 0 6px;
  border-radius: 0.2em;
  vertical-align: middle;

}

.dot{
 color: var(--Red);
 padding: 0 4px;
 font-size: 8px;
 text-align:center;
 vertical-align: middle;
}

button{
  background:none;
  border:none;
  color: var(--Dark-grayish-blue);
  font-family: "Plus Jakarta Sans";
  cursor:pointer;
}